<%= simple_form_for [:dashboard, @post_type] do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, autofocus: true %>
  <%= f.input :excluded_from_primary_feed %>

  <%= f.fields_for :custom_fields do |builder| %>
    <%= render 'custom_field_fields', f: builder %>
  <% end %>

  <div class="form-group">
    <%= link_to_add_field "Add Custom Field", f, :custom_fields %>
  </div>
  
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>