<div id="versions-panel" class="collapse post-action-panel">
  <div style="padding: 20px;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <ul class="list-group" style="margin: 0;">
            <%= render partial: 'storytime/dashboard/versions/version.html.erb', collection: @post.versions.order(created_at: :desc), locals: { versionable: @post } %>
          </ul>
          <%= link_to "Close", '#', class: "btn btn-default", style: "margin-top: 10px;", data: { toggle: 'collapse', target: '#versions-panel' } %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= simple_form_for [:dashboard, @post] do |f| %>

  <%= hidden_field_tag :type, @post.type_name %>
  <%= hidden_field_tag 'post[published]', @post.published_at.nil? ? 0 : 1 if Pundit.policy(current_user, @post).publish? %>

  <div id="post-advanced-settings" class="collapse post-action-panel">
    <div style="padding: 20px;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            
            <div class="post_field post_excerpt">
              <small>
                <div class="pull-right" id="excerpt_character_limit" data-limit="<%= Storytime.post_excerpt_character_limit %>"></div>
              </small>
              <%= f.input :excerpt, required: false %>
            </div>

            <div class="post_field post_tags">
              <%= f.association :tags, input_html: { :name => 'post[tag_list][]', class: 'chosen-select', multiple: true } %>
            </div>

            <div class="row">
              <div class="col-sm-<%= @post.published? ? '6' : '12' %>">
                <%= f.input :slug, input_html: { value: (@post.persisted? ? @post.slug : nil) } %>
              </div>
              <% if @post.published? %>
                <div class="col-sm-6">
                  <%= f.input :published_at, as: :date_time_picker, label: "Published", input_html: { style: "display: inline;" } %>
                </div>
              <% end %>
            </div>
    
            <hr>

            <div class="post_actions">
              <%= link_to "Cancel", '#', class: "btn btn-default", data: { toggle: 'collapse', target: '#post-advanced-settings' } %>

              <div class="pull-right">
                <%= f.submit "Save Draft", class: "btn btn-default save" unless @post.published? %>
                <%= f.submit "Publish", class: "btn btn-primary btn-outline publish", publish: true unless @post.published? %>
                <%= f.submit "Update", class: "btn btn-primary btn-outline save" if @post.published? %>
              </div>

              <div class="notify_subscribers_checkbox pull-right">
                <%= f.input :send_subscriber_email, as: :boolean, label: "Notify subscribers of new post" unless @post.published? %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <% if Storytime.enable_file_upload %>
    <div class="collapse post-action-panel" id="featured-images-panel">
      <div style="padding: 20px;">
        <div class="container-fluid">

          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="row">
                <div class="col-md-6">
                  <%= f.input :featured_media_id, as: :hidden, input_html: { id: "featured_media_id" } %>
                  
                  <div class="featured_image_block center-block">
                    <span class="glyphicon glyphicon-picture select_featured_image" style="<% if @post.featured_media %>display: none<% end %>"></span>

                    <div id="featured_media_container" class="image_container">
                      <%= image_tag @post.featured_media.file_url(:thumb), id: "featured_media_image" if @post.featured_media %>
                    </div>

                    <div class="select_featured_image" <% if @post.featured_media %>style="display: none"<% end %>>
                      <%= link_to "Select Featured Image", "#", class: "btn btn-primary", id: "featured_media_button" %>
                    </div>
                  </div>

                  <button type="button" class="btn btn-danger remove_featured_image center-block" <% unless @post.featured_media %>style="display: none"<% end %>>
                    <%= t('dashboard.posts.remove_image') %>
                  </button>
                </div>

                <div class="col-md-6">
                  <%= f.input :secondary_media_id, as: :hidden, input_html: { id: "secondary_media_id" } %>
                  
                  <div class="featured_image_block center-block">
                    <span class="glyphicon glyphicon-picture select_featured_image" style="<% if @post.secondary_media %>display: none<% end %>"></span>

                    <div id="secondary_media_container" class="image_container">
                      <%= image_tag @post.secondary_media.file_url(:thumb), id: "secondary_media_image" if @post.secondary_media %>
                    </div>

                    <div class="select_featured_image" <% if @post.secondary_media %>style="display: none"<% end %>>
                      <%= link_to "Select Secondary Image", "#", class: "btn btn-primary", id: "secondary_media_button" %>
                    </div>
                  </div>

                  <button type="button" class="btn btn-danger remove_featured_image center-block" <% unless @post.secondary_media %>style="display: none"<% end %>>
                    <%= t('dashboard.posts.remove_image') %>
                  </button>
                </div>
              </div>
              <%= link_to "Close", '#', class: "btn btn-default", style: "margin-top: 10px;", data: { toggle: 'collapse', target: '#featured-images-panel' } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <%= autosave_info @post if @post.persisted? %>

        <%= f.error_notification if false %>

        <span id="title_character_limit" class="text-muted" data-limit="<%= Storytime.post_title_character_limit %>"></span>
        <h2 contenteditable="true" id="post-title-input" style="outline: none; margin-top: 0;" class="contenteditable" data-input="#post_title" placeholder="Title" autofocus="autofocus"><%= @post.title %></h2>
        
        <% if @post.errors[:title].present? %>
          <span class="has-error">
            <span class="help-block"><%= @post.errors[:title][0] %></span>
          </span>
        <% end %>

        <%= f.input :title, as: :hidden %>

        <div class="post_field post_content serif">
          <%= f.input :draft_content, as: :text, input_html: { rows: 20, class: "summernote" }, label: false, wrapper: false %>
        </div>
        
      </div>
    </div>
  </div>
  

  <div class="panel-group" id="accordion">
    <% if lookup_context.template_exists?("storytime/dashboard/posts/_#{@post.type_name}_fields") %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          <span class="glyphicon glyphicon-th-list"></span>
          <a data-toggle="collapse" href="#post_additional_fields">
            <%= t('dashboard.posts.additional_fields') %>
          </a>
        </div>
        <div id="post_additional_fields" class="panel-collapse collapse in">
          <div class="panel-body">
              <%= render("storytime/dashboard/posts/#{@post.type_name}_fields", f: f)  %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= render "storytime/dashboard/media/modal" if Storytime.enable_file_upload %>
