<%= simple_form_for [:dashboard, @post] do |f| %>
  <%= f.error_notification %>

  <%= hidden_field_tag :type, @post.type_name %>
  <%= hidden_field_tag 'post[published]', @post.published_at.nil? ? 0 : 1 if Pundit.policy(current_user, @post).publish? %>

  <div class="post_title_field">
    <small>
      <div class="pull-right" id="title_character_limit" data-limit="<%= Storytime.post_title_character_limit %>"></div>
    </small>
    <%= f.input :title, autofocus: true %>
  </div>
  
  <div class="post_additional_fields">
    <% if lookup_context.template_exists?("storytime/dashboard/posts/_#{@post.type_name}_fields") %>
      <%= render("storytime/dashboard/posts/#{@post.type_name}_fields", f: f)  %>
    <% end %>
  </div>
  
  <div class="post_excerpt_field">
    <small>
      <div class="pull-right" id="excerpt_character_limit" data-limit="<%= Storytime.post_excerpt_character_limit %>"></div>
    </small>
    <%= f.input :excerpt, required: false %>
  </div>
  
  <div class="post_content_field">
    <%= f.input :draft_content, as: :text, input_html: { rows: 20, class: "summernote" }, label: "Content" %>
  </div>

  <div class="post_featured_media_field">
    <%= f.input :featured_media_id, as: :hidden, input_html: { id: "featured_media_id" } %>
    <%= link_to "Select Featured Image", "#", class: "btn btn-default", id: "featured_media_button" %>
    <div id="featured_media_container">
      <%= image_tag @post.featured_media.file_url(:thumb), id: "featured_media_image" if @post.featured_media %>
    </div>
  </div>

  <div class="post_tags_field">
    <%= f.association :tags, input_html: { :name => 'post[tag_list][]', class: 'chosen-select', multiple: true } %>
  </div>
  

  <%= f.input :published_at, as: :date_time_picker if @post.published? %>
  
  <hr>

  <div class="post_actions">
    <% if @post.persisted? %>
      <%= link_to 'Delete',  url_for([:dashboard, @post]),  method: :delete, data: { confirm: t('common.are_you_sure_you_want_to_delete', resource_name: @post.human_name) }, class: "btn btn-danger" %>
    <% end %>

    <%= link_to "Preview", post_path(@post, preview: true), class: "btn btn-info", id: "preview_post", target: "_blank" %>
    <%= f.submit "Save Draft", class: "btn btn-default save" unless @post.published? %>

    <div class="pull-right">
      <%= f.submit "Publish", class: "btn btn-primary publish", publish: true unless @post.published? %>
      <%= f.submit "Update", class: "btn btn-default save" if @post.published? %>
    </div>
  </div>
<% end %>

<%= render "storytime/dashboard/media/modal" %>