<%= simple_form_for [:dashboard, @post] do |f| %>
  <%= f.error_notification %>
  <%= f.association :post_type if Storytime::PostType.any? %>
  <%= f.input :title, autofocus: true %>
  <%= f.input :excerpt %>
  <%= f.input :draft_content, as: :text, input_html: { rows: 20, class: "wysiwyg" }, label: "Content" %>
  <%= f.input :tag_list %>
  <% if Pundit.policy(current_user, @post).publish? %>
    <div class="checkbox">
      <label>
        <%= f.check_box :published %> <strong>Published</strong>
      </label>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "storytime/dashboard/media/modal" %>