<div id="list" class="pane">
  <h3 class="heading"> 
    <%= post_list_title(current_post_type) %>
    <%= link_to url_for([:new, :dashboard, current_post_type.type_name.to_sym]), class: "btn btn-info btn-sm pull-right" do %>
      <i class="glyphicon glyphicon-plus"></i>
    <% end %>
  </h3>
  <div class="scroll-y">
    <ul>
      <% @posts.each do |post| %>
        <li id="<%= post.class.to_s.downcase.split("::").last %>_<%= post.id %>" class="<%= 'active' if current_page?(url_for([:edit, :dashboard, post])) %>">
          <%= link_to post.title, url_for([:edit, :dashboard, post, page: params[:page]]) %>
          <span class="pull-right">
            <% unless post.published? %>
              <span class="label label-warning">Draft</span>
            <% end %>
            <%= delete_resource_link post, url_for([:dashboard, post]), !current_page?(url_for([:edit, :dashboard, post])) %>
          </span>
        </li>
      <% end %>
    </ul>
    <%= paginate @posts, param_name: "page_number" %>
  </div>
</div>