<div id="list" class="pane">
  <h3 class="heading">
    <%= post_list_title(current_post_type) %>
    <%= new_post_button(current_post_type) %>
  </h3>
  <div class="scroll-y">
    <ul>
      <% @posts.each do |post| %>
        <li id="post_<%= post.id %>" class="<%= 'active' if current_page?(edit_dashboard_post_url(post)) %>">
          <%= link_to post.title, edit_dashboard_post_url(post, page: params[:page]) %>
          <span class="pull-right">
            <% unless post.published? %>
              <span class="label label-warning">Draft</span>
            <% end %>
            <%= delete_resource_link post, dashboard_post_path(post), !current_page?(edit_dashboard_post_url(post)) %>
          </span>
        </li>
      <% end %>
    </ul>
    <%= paginate @posts %>
  </div>
</div>