<%= render 'list' %>

<div id="main" class="pane">
<h3 class="heading">
  Edit Post
</h3>
  <div class="scroll-y">
    <div class="padding">
      <%= versions_info @post %>

      <%= render 'form' %>

      <%= link_to 'Show', @post %> |
      <%= link_to 'Back', dashboard_posts_path %>
    </div>
  </div>
</div>