<%= render 'list' %>

<div id="main" class="pane" data-post-id="<%= @post.slug || @post.id %>" data-dashboard-namespace="<%= Storytime.dashboard_namespace_path %>" data-preview="<%= params[:preview] %>">
  <h3 class="heading">
    Edit <%= @post.human_name %>
    <span class="pull-right">
      <span id="draft_last_saved_at" class="draft_saved"></span>
    </span>
  </h3>
  
  <div class="scroll-y">
    <div class="padding">
      <%= autosave_info @post %>
      <%= versions_info @post %>
      <%= render 'form' %>
    </div>
  </div>
</div>