<%= render 'list' %>

<div id="main" class="pane" data-post-id="<%= @post.slug %>" data-preview="<%= params[:preview] %>">
  <h3 class="heading">
    Edit <%= @post.human_name %>
    <span class="pull-right">
      <span id="draft_last_saved_at" class="draft_saved"></span>

      <%= link_to "View Published Post", @post, class: "btn btn-default", target: "_blank" if @post.published? %>
      <%= link_to "View Preview", post_path(@post, preview: true), class: "btn btn-default", id: "preview_post", target: "_blank" %>
    </span>
  </h3>
  
  <div class="scroll-y">
    <div class="padding">
      <%= autosave_info @post %>
      <%= versions_info @post %>
      <%= render 'form' %>
    </div>
  </div>
</div>