<%= render 'list' %>

<div id="main" class="pane">
<h3 class="heading">
  Edit <%= @post.type_name.humanize %>
  <span class="pull-right">
    <%= link_to "View Post", @post.becomes(Storytime::Post), class: "btn btn-default", target: "_blank" if @post.published? %>
  </span>
</h3>
  <div class="scroll-y">
    <div class="padding">
      <%= versions_info @post %>
      <%= render 'form' %>
    </div>
  </div>
</div>