<div id="main">
  <div class="scroll-panel">
    <div class="scroll-panel-header">

      <%= link_to "#", class: "btn btn-default btn-icon pull-left visible-xs visible-sm", data: { toggle: "off-canvas",  target: "#dashboard-nav" } do %>
        <i class="icon-st-icons-st-logo"></i>
      <% end %>
      
      <%= link_to "New Post", "", class: "btn btn-sm btn-primary btn-outline pull-right" %>
      <h3 class="scroll-panel-title">Posts</h3>
    </div>
    <div class="scroll-panel-body">
      <ul class="nav nav-tabs">
        <li role="presentation" class="<%= 'active' unless params[:published] == 'true' %>">
          <% if @blog %>
            <%= link_to "Drafts", [:dashboard, @blog, :blog_page_post_index, published: nil] %>
          <% else %>
            <%= link_to "Drafts", [:dashboard, current_post_type] %>
          <% end %>
        </li>
        <li role="presentation" class="<%= 'active' if params[:published] == 'true' %>">
          <% if @blog %>
            <%= link_to "Published", [:dashboard, @blog, :blog_page_post_index, published: 'true'] %>
          <% else %>
            <%= link_to "Published", [:dashboard, current_post_type, published: 'true'] %>
          <% end %>
          
        </li>
      </ul>
      <%= render 'list' %>
    </div>
  </div>
</div>