<div id="main">
  <div class="scroll-panel">
    <div class="scroll-panel-header">

      <%= link_to "#", class: "btn btn-default btn-icon pull-left visible-xs visible-sm", data: { toggle: "off-canvas",  target: "#dashboard-nav" } do %>
        <i class="icon-st-icons-st-logo"></i>
      <% end %>
      
      <%= link_to "New", storytime.url_for([:new, :dashboard, :post, type: current_post_type.type_name]), class: "btn btn-sm btn-primary btn-outline pull-right" %>
      <h3 class="scroll-panel-title"><%= current_post_type.type_name.titleize.pluralize %></h3>
    </div>
    <div class="scroll-panel-body">
      <ul class="nav nav-tabs">
        <li role="presentation" class="<%= 'active' unless params[:published] == 'true' %>">
          <%= link_to "Drafts", [:dashboard, Storytime::Post, type: current_post_type.type_name, published: nil] %>
        </li>
        <li role="presentation" class="<%= 'active' if params[:published] == 'true' %>">
          <%= link_to "Published", [:dashboard, Storytime::Post, type: current_post_type.type_name, published: 'true'] %>
        </li>
      </ul>
      <%= render 'list' %>
    </div>
  </div>
</div>