<div id="insertMediaModal" class='bootstrap-wysihtml5-insert-image-modal modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <a class='close' data-dismiss='modal'>&times;</a>
        <h4 class='modal-title'><%= t('dashboard.media.select_media') %></h4>
      </div>
      <div class='modal-body'>
        <div class="clearfix hide">
          <label for="mediaByURL"><%= t('dashboard.media.select_media_by_url') %></label>
          <input id="mediaByURL" value='http://' class='form-control'>
          <div class="pull-right">
            <button id="mediaByUrlSelectButton" class='btn btn-primary' data-dismiss='modal'><%= t('dashboard.media.select_media_from_file') %></button>
          </div>
        </div>

        <div>
          <%= render "storytime/dashboard/media/form.html.erb" %>
          <div id="media_gallery_container"><%= render "storytime/dashboard/media/gallery.html.erb" %></div>
        </div>
      </div>
      <div class='modal-footer'>
        <button class='btn btn-default' data-dismiss='modal'>Cancel</button>
      </div>
    </div>
  </div>
</div>