<%= simple_form_for [:dashboard, @site], remote: true, html: { class: "storytime-modal-form" } do |f| %>
  <div class="scroll-panel">
    <div class="scroll-panel-header">
      <button type="button" class="close pull-left" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= f.submit t('dashboard.sites.save_button'), class: "btn btn-sm btn-primary btn-outline pull-right" %>
      <h3 class="scroll-panel-title">
        <%= t('dashboard.sites.edit') %>
      </h3>
    </div>
    <div class="scroll-panel-body">
      
      <input type="hidden" value="<%= params[:controller].camelize %>" id="storytime-modal-controller">
      <input type="hidden" value="<%= params[:action].camelize %>" id="storytime-modal-action">
      
      <%= render 'storytime/dashboard/settings_tabs.html.erb' %>

      <%= f.error_notification %>
      <%= f.input :title %>
      <%= f.input :custom_domain, label: "Domain", hint: t("dashboard.sites.domain_hint") %>
      <%= f.input :subscription_email_from, label: t('dashboard.sites.subscription_email_from_label') %>
      <%= f.input :post_slug_style, collection: post_slug_style_options, include_blank: false %>

      <% unless params[:action] == "new" %>
        <%= f.input :root_post_id, collection: @site.root_post_options, label: t('dashboard.sites.root_post_id_label'), hint: t('dashboard.sites.root_post_id_hint') %>
        <%= f.input :layout, as: :select, collection: application_layouts, hint: t('dashboard.sites.layout_hint') %>
        <%= f.input :disqus_forum_shortname %>

        <%= f.input :discourse_name %>

        <%= f.input :ga_tracking_id %>
        
        <div class="well">
          <%= link_to "Delete Site", [:dashboard, @site], method: :delete, data: { confirm: t('common.are_you_sure_you_want_to_delete', resource_name: "site") }, class: "btn btn-danger btn-outline text-danger btn-sm" %>
        </div>
      <% end %>

    </div>
  </div>
<% end %>