<%= simple_form_for [:dashboard, @site] do |f| %>
  <%= f.error_notification %>
  <%= f.input :title %>
  <%= f.input :post_slug_style, collection: post_slug_style_options %>
  <%= f.input :root_page_content, collection: root_page_content_options, include_blank: false %>
  <%= f.input :root_post_id, collection: Storytime::Post.non_blog_posts.published, wrapper_html: { class: (@site.root_page_content == "page" ?  "" : "hide") } %>
  <%= f.input :ga_tracking_id %>

  <!-- Header and Footer only get rendered in the storytime applicaiton layout, not the main app -->
  <% unless Storytime.layout.present? %>
    <%= f.input :header %>
    <%= f.input :footer %>
  <% end %>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
