<div id="main">
  <div class="scroll-panel">
    <div class="scroll-panel-header">
      <%= link_to icon('bars'), "#", class: "btn btn-default btn-sm pull-left visible-xs visible-sm", data: { toggle: "off-canvas",  target: "#dashboard-nav" } %>
      <h3 class="scroll-panel-title"><%= t('dashboard.sites.edit') %></h3>
    </div>
    <div class="scroll-panel-body">
      <h4><%= t('dashboard.sites.basic_info') %></h4>
      <%= render 'form' %>

      <h4><%= t('dashboard.sites.permissions') %></h4>
      <%= form_tag update_multiple_dashboard_roles_path, method: :patch do %>

        <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <% Storytime::Role.all.each do |role| %>
                <th><%= role.label %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% Storytime::Action.all.each do |action| %>
              <tr>
                <td><%= action.name %></td>
                <% Storytime::Role.all.each do |role| %>
                  <td>
                    <input <%= 'checked' if role.allowed_action_ids.include?(action.id) %> class="check_boxes optional" id="roles_<%= role.id %>_allowed_action_ids_<%= action.id %>" name="roles[<%= role.id %>][allowed_action_ids][]" type="checkbox" value="<%= action.id %>">
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div class="pull-right">
          <%= submit_tag t('dashboard.sites.save_permissions'), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>