<div id="post_<%= post.id %>" class="post">
  <h2><%= link_to post.title, post %></h2>
  <p class='muted'><%= post.created_at.strftime("%b %d, %Y") %></p>
  <p><%= post.excerpt %></p>
  <p><%= link_to "Continue reading →", post %></p>
  <p><%= render 'tags', post: post %></p>
  <hr>
</div>