<% @posts.each do |post| %>
  <h2><%= link_to post.title, post %></h2>
  <div><%= post.excerpt %></div>
  <p>Tags: <%= raw post.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></p>
<% end %>

<%= paginate @posts %>

<h3>Tag Cloud</h3>
<div id="tag_cloud">
  <% tag_cloud Storytime::Post.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>