<div class="container">
  <% if params[:preview] %>
    <div class="alert alert-info" role="alert">Currently viewing a preview of "<%= @post.title %>".</div>
  <% end %>
  
  <div class="row">
    <div class="col-md-12">
      <h2><%= @post.title %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= @post.content.html_safe %>

      <p><%= render 'storytime/blogs/tags', post: @post %></p>
    </div>
  </div>

  <%= render_comments if @post.show_comments? && !@post.preview %>
</div>