<h4>Versions</h4>
<ul class="list-group">
  <% versionable.versions.order(updated_at: :desc).each do |version| %>
    <li class="list-group-item">
      Created on <%= version.created_at.localtime.strftime("%m-%d-%Y @ %I:%M%p") %>
      <%= "by #{version.user.email}" if version.user %>
      <span class="pull-right">
        <% if version == versionable.latest_version %>
          Current Version
        <% else %>
          <%= simple_form_for [:dashboard, versionable] do |f| %>
            <%= f.input :draft_version_id, as: :hidden, input_html: { value: version.id } %>
            <%= f.submit "Restore Version", class: "btn btn-success btn-xs" %>
          <% end %>
        <% end %>
      </span>
    </li>
  <% end %>
</ul>