<%= simple_form_for [:dashboard, @subscription], remote: true, html: { class: "storytime-modal-form", data: { redirect: "index" } } do |f| %>
  <div class="scroll-panel">
    <div class="scroll-panel-header">
      <%= link_to icon("angle-left"), [:dashboard, Storytime::Subscription], class: "btn btn-sm btn-default pull-left storytime-modal-trigger", remote: true %>
      <%= f.submit "Save", class: "btn btn-sm btn-primary btn-outline pull-right" %>
      <h3 class="scroll-panel-title">
        <%= @subscription.new_record? ? "New" : "Edit" %> Subscription
      </h3>
    </div>
    <div class="scroll-panel-body">

      <%= render 'storytime/dashboard/settings_tabs.html.erb' %>
      
      <%= f.input :site_id, as: :hidden, input_html: { value: @current_storytime_site.id }  %>
      <%= f.input :email %>
      <%= f.input :subscribed, as: :boolean unless @subscription.new_record? %>
    </div>
  </div>
<% end %>