<%= simple_form_for [:dashboard, @page] do |f| %>
  <%= f.error_notification %>
  <%= f.input :title %>
  <%= f.input :draft_content, as: :text, input_html: { rows: 20, class: "wysiwyg" }, label: "Content" %>
  <div class="checkbox">
    <label>
      <%= f.check_box :published %> <strong>Published</strong>
    </label>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "storytime/dashboard/media/modal" %>