<%= render 'list' %>

<div id="main" class="pane">
<h3 class="heading">
  Edit Page
</h3>
  <div class="scroll-y">
    <div class="padding">
      <%= versions_info @page %>

      <%= render 'form' %>

      <%= link_to 'Show', @page %> |
      <%= link_to 'Back', dashboard_pages_path %>
    </div>
  </div>
</div>