<%= simple_form_for @user, :url => dashboard_user_path, remote: true, html: { class: "storytime-modal-form" } do |f| %>
  <div class="scroll-panel">
    <div class="scroll-panel-header">
      <%= link_to icon("angle-left"), [:dashboard, Storytime.user_class], class: "btn btn-sm btn-default pull-left storytime-modal-trigger", remote: true %>
      <%= f.submit class: "btn btn-sm btn-success btn-outline pull-right" %>
      <h3 class="scroll-panel-title">
        <%= t('dashboard.users.edit_user_header') %>
      </h3>
    </div>
    <div class="scroll-panel-body">

      <ul class="nav nav-tabs">
        <li role="presentation" class="active">
          <%= link_to icon("users", "Users"), [:dashboard, Storytime.user_class], remote: true, class: "storytime-modal-trigger" %>
        </li>
        <li role="presentation">
          <%= link_to icon("cog", t('dashboard.sites.edit')), [:edit, :dashboard, @site], remote: true, class: "storytime-modal-trigger" %>
        </li>
        <li role="presentation">
          <%= link_to icon("lock", "Permissions"), edit_multiple_dashboard_roles_path, remote: true, class: "storytime-modal-trigger" %>
        </li>
        <li role="presentation">
          <%= link_to icon("envelope", "Subscriptions"), [:dashboard, Storytime::Subscription], remote: true, class: "storytime-modal-trigger" %>
        </li>
      </ul>
      
      <%= f.input :email %>
      <%= f.input :storytime_name %>
      <%= f.association :storytime_role, include_blank: true, label_method: :label %>
    </div>
  </div>
<% end %>