<li class="list-group-item" id="<%= Storytime.user_class_underscore %>_<%= user.id %>">
  <%= link_to url_for(:controller => 'dashboard/users', :action => 'edit', :id => user.id), class: "list-group-link storytime-modal-trigger", remote: true do %>
    <%= user.storytime_name.present? ? user.storytime_name : user.email %>
    <% if user.storytime_role %>
      <p class="text-danger no-margin"><%= user.storytime_role.name.humanize %></p>
    <% end %>
  <% end %>
  <div class="list-group-actions">
    <%= delete_resource_link user, dashboard_user_url(user) unless user == current_user %>
  </div>
</li>