<div class="navbar navbar-inverse navbar-static-top" style="z-index: 1001; margin: 0;" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Storytime", "/", class: "navbar-brand" %>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li <%= active_nav_item_class("posts", current_category) %>><%= link_to "Blog Posts", storytime.url_for([:dashboard, Storytime::BlogPost]) %></li>

      <li <%= active_nav_item_class("posts", current_category) %>><%= link_to "Pages", storytime.url_for([:dashboard, Storytime::Page]) %></li>

      <% Storytime::Category.excluded_from_primary_feed.each do |category| %>
        <li <%= active_nav_item_class("posts", category.name) %>><%= link_to category.name.humanize, storytime.url_for([:dashboard, Storytime::BlogPost, category: category.name]) %></li>
      <% end %>
      
      <li <%= active_nav_item_class("categories") %>><%= link_to "Categories", storytime.url_for([:dashboard, Storytime::Category]) %></li>
      <li <%= active_nav_item_class("media") %>><%= link_to "Media", storytime.url_for([:dashboard, Storytime::Media]) %></li>
      <% if Pundit.policy(current_user, Storytime.user_class).index? %>
        <li <%= active_nav_item_class("users") %>><%= link_to "Users", storytime.url_for([:dashboard, Storytime.user_class]) %></li>
      <% end %>
      <% if Pundit.policy(current_user, Storytime::Site).edit? %>
        <li <%= active_nav_item_class("sites") %>><%= link_to "Settings", dashboard_nav_site_path(@site) %></li>
      <% end %>
    </ul>

    <ul class="nav navbar-nav navbar-right" style="margin-right: 15px;">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%= current_user.email %>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "My Account", storytime.edit_dashboard_user_path(current_user) %></li>
          <li><%= link_to "Sign Out", main_app.destroy_user_session_path, method: :delete %></li>
        </ul>
      </li>
    </ul>
  </div><!--/.nav-collapse -->
</div>