<div class="navbar navbar-inverse navbar-static-top" style="z-index: 1001; margin: 0;" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Storytime", main_app.storytime_path, class: "navbar-brand" %>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li <%= active_nav_item_class("posts", "blog_post") %>><%= link_to "Blog Posts", storytime.dashboard_posts_path(type: "blog_post") %></li>
      
      <% Storytime.post_types.map{|post_type| post_type.constantize }.each do |post_type| %>
        <% unless post_type.included_in_primary_feed? %>
          <li <%= active_nav_item_class("posts", post_type.type_name) %>><%= link_to post_type.human_name.pluralize, storytime.dashboard_posts_path(type: post_type.type_name) %></li>
        <% end %>
      <% end %>

      <% if Pundit.policy(current_user, Storytime::Snippet).manage? %>
        <li <%= active_nav_item_class("snippets") %>><%= link_to "Text Snippets", storytime.dashboard_snippets_path %></li>
      <% end %>
      
      <% if Storytime.enable_file_upload %>
        <li <%= active_nav_item_class("media") %>><%= link_to "Media", storytime.dashboard_media_index_path %></li>
      <% end %>

      <% if Pundit.policy(current_user, Storytime::Subscription).manage? %>
        <li <%= active_nav_item_class("Subscriptions") %>><%= link_to "Subscriptions", dashboard_subscriptions_path %></li>
      <% end %>

      <% if Pundit.policy(current_user, Storytime.user_class).index? %>
        <li <%= active_nav_item_class("users") %>><%= link_to "Users", storytime.dashboard_users_path %></li>
      <% end %>

      <% if Pundit.policy(current_user, Storytime::Site).edit? %>
        <li <%= active_nav_item_class("sites") %>><%= link_to "Settings", dashboard_nav_site_path(@site) %></li>
      <% end %>
    </ul>

    <ul class="nav navbar-nav navbar-right" style="margin-right: 15px;">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%= current_user.storytime_name.blank? ? current_user.email : current_user.storytime_name %>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "My Account", storytime.edit_dashboard_user_path(current_user) %></li>
          <li><%= link_to "Sign Out", Storytime.logout_path, method: Storytime.logout_method %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>