<div class="login-box">

  <%= simple_form_for resource, as: resource_name, url: session_path(resource_name), html: { class: "login-form" } do |f| %>
    <div class="email-wrap">
      <%= f.text_field :email, required: false, autofocus: true, placeholder: "Email" %>
    </div>
    <div class="password-wrap">
      <%= f.password_field :password, required: false, placeholder: "Password" %>
    </div>
    <%= f.submit "Log In", class: "button-save" %>    
    <div class="checkbox">
      <label>
        <%= f.check_box :remember_me %> Remember Me
      </label>
    </div>
    <div class="clearfix"></div>
    <p class='pull-left'>
      <%= link_to "Sign Up", new_registration_path(resource_name) %>
      <br>
      <%= link_to "Forgotten Password?", new_password_path(resource_name) %>
    </p>
  <% end %>

</div>