<header>
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to @site.title, "/", class: "navbar-brand" %>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <% Storytime::Page.published.each do |page| %>
            <li><%= link_to page.title, storytime.url_for(controller: "pages", action: "show", id: page.slug) %></li>
          <% end %>
          <li><%= link_to "Blog", storytime.url_for(Storytime::BlogPost.type_name.pluralize) %></li>
          <li>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addSubscriptionModal">
  Launch demo modal
</button>
            <%#= link_to "Subscribe to Dummy App", "/", data: {target: "#myModal"} %>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% unless user_signed_in? %>
            <li><%= link_to "Sign In", main_app.new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>
<%= render partial: "storytime/subscriptions/modal" %>