<!DOCTYPE html>
<html>
<head>
  <title>Storytime</title>
  <%= stylesheet_link_tag    "storytime/application", media: "all" %>
  <%= javascript_include_tag "storytime/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="flash">
  <% flash.each do |name, msg| %>
    <div class="flash-<%= name %>">
      <%= msg %>
    </div>
  <% end %>
</div>

<%= yield %>

</body>
</html>
