<!DOCTYPE html>
<html lang="en" style="height: 100%;">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Storytime</title>

    <%= stylesheet_link_tag    "storytime/application", media: "all" %>
    
    <% if Rails.env.test? # needs to be before main js file %>
      <%= javascript_include_tag "phantom_js_bind_polyfill"  %>
      <%= stylesheet_link_tag "disable-transitions-for-test-env", media: "all" %>
    <% end %>
    
    <%= javascript_include_tag "storytime/application" %>

    <% if Rails.env.test? # needs to be after main js file %>
      <script type="text/javascript">
        window.Storytime.test_env = true;
        $.fx.off = true;
      </script>
    <% end %>

    <%= csrf_meta_tags %>
  </head>

  <body class="storytime <%= params[:controller].parameterize %>-controller <%=params[:action]%>-action <%= yield(:body_class) %>" data-controller="<%=params[:controller].camelize%>" data-action="<%=params[:action].camelize%>" style='background-color: #255D94; background-image: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),radial-gradient( at 40% 0%, #545ab6 0%, rgba(84, 90, 182, 0) 100%),radial-gradient( at 0% 100%, rgba(72, 160, 123, 0.8) 0%, rgba(118, 72, 160, 0) 50%); height: 100%; margin: 0;'>
    
    <div class="container-lg relative" style="height: 100%;">
      <%= render "storytime/application/storytime/navigation" %>
      <%= render "storytime/application/storytime/flash" %>

      <%= yield %>
    </div>

  </body>
</html>
