<%= simple_form_for [:dashboard, @snippet], remote: true, html: { class: "storytime-modal-form" } do |f| %>
  <div class="scroll-panel">
    <div class="scroll-panel-header">
      <%= link_to icon("angle-left"), [:dashboard, Storytime::Snippet], class: "btn btn-sm btn-default pull-left storytime-modal-trigger", remote: true %>
      <%= f.submit "Save", class: "btn btn-sm btn-success btn-outline pull-right" %>
      <h3 class="scroll-panel-title">
        <%= @snippet.new_record? ? "New" : "Edit" %> Text Snippet
      </h3>
    </div>
    <div class="scroll-panel-body">
      
      <input type="hidden" value="<%= params[:controller].camelize %>" id="storytime-modal-controller">
      <input type="hidden" value="<%= params[:action].camelize %>" id="storytime-modal-action">

      <%= f.error_notification %>
      <%= f.input :name, autofocus: true %>
      <%= f.input :content, as: :text, input_html: { rows: 20, class: "summernote" } %>
      <%= render "storytime/dashboard/media/modal.html.erb" %>
    </div>
  </div>
<% end %>