<div class="scroll-panel">
  <%= simple_form_for @model, url: (@model.new_record? ? dashboard_admin_create_path : dashboard_admin_update_path) do |f| %>
    <div class="scroll-panel-header">
      <%= link_to icon('bars'), "#", class: "btn btn-default btn-sm pull-left visible-xs visible-sm", data: { toggle: "off-canvas",  target: "#dashboard-nav" } %>
      <%= f.submit "Save", class: "btn btn-sm btn-success btn-outline pull-right" %>
      <%= link_to "Cancel", dashboard_admin_index_path, class: "btn btn-sm btn-default pull-right", style: "margin-right: 10px;" %>
      <h3 class="scroll-panel-title">
        <%= @model.new_record? ? "New" : "Edit" %>
        <%= model_name.titleize %>
      </h3>
    </div>
    <div class="scroll-panel-body">
      <%= render "fields", f: f %>
    </div>
  <% end %>
</div>
